.vs/*
Binaries/*
Build/*
DerivedDataCache/*
Intermediate/*
Saved/*
Plugins/MultiplayerSessions/Intermediate/*
Plugins/MultiplayerSessions/Binaries/*
Content/StarterContent/*
Content/LowerSector_Mod/*
note.txt